*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100dvw;
    height: 100dvh;
}

body {
    font-size: 0.9rem;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 50px 0px 0px;
    justify-content: center;
}

.container {
    padding: 0.75rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 335px;
    border: 2px solid black;
    box-shadow: 0.75rem 1rem 1rem rgba(0, 0, 0, 0.389);
    border-radius: 0.25rem;
    height: min-content;
    
}

#user-input {
    text-align: center;
}

#output {
    margin: 0.5rem;
}

#output span {
    font-weight: 700;
}

#totalQtyContainer,
#quantityRunTime,
#rollChangeTime,
#rollGapTime,
#totalRunTime {
    text-align: center;
    width: 100%;
}

.user-input-field {
    margin: 0.125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.runTime {
    display: flex;
    justify-content: space-evenly;
}

#totalRunTime {
    border: 1px solid red;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.125rem;
}

#output div {
    margin: 2px 0px;
}

.user-input-field input {
    width: 100px;
}