/* Global Variables */
:root {
    /* Color variables */
    --tool-accent: hsl(112, 86%, 45%);
    --tool-border: hsl(112, 86%, 45%);
    --tool-button-bg: hsl(112, 87%, 35%);
    --off-white-bg: hsl(45, 29%, 97%);
    --white: hsl(0, 0%, 100%);

    /* Spacing variables */
    --header-margin-top: 2rem;
    --header-margin-bottom: 3rem;
    --header-height: 1rem;

    --tool-margin: 1rem;
    
    /* Font sizings */
    --footer-font-size: 0.75rem;
}

/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

body {
    font-size: 16px;
    background-color: var(--off-white-bg);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, input, select, textarea {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Mobile specific styling */
header {
    width: 100%;
    text-align: center;
    height: var(--header-height);
    margin: var(--header-margin-top) 0rem var(--header-margin-bottom) 0rem;
}

main {
    width: 100dvw;
    height: 100dvh;
}

.toolContainer {
    border: 1px solid var(--tool-border);
    border-top: 0.375rem solid var(--tool-accent);
    background-color: var(--white);
    border-radius: 0.25rem;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 1rem auto;
}

.tool * {   
    margin: var(--tool-margin) auto;
    text-align: center;
}

.tool button {
    background-color: var(--tool-button-bg);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 1.625rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: var(--footer-font-size);
}

