@import url(./reset.css);

:root {
    /* Color variables */
    --tool-accent: hsl(112, 86%, 45%);
    --tool-border: hsl(112, 86%, 45%);
    --tool-button-bg: hsl(112, 87%, 35%);
    --off-white-bg: hsl(45, 29%, 97%);
    --white: hsl(0, 0%, 100%);
    --input-bg: hsl(112, 85%, 95%);

    /* Spacing variables */
    --header-height: 50px;

    --tool-margin: 1rem;
    
    /* Font sizings */
    --footer-font-size: 0.75rem;
}

/* Mobile specific styling */
header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100dvw;
    height: 100dvh;
}

.toolContainer {
    border: 1px solid var(--tool-border);
    border-top: 0.375rem solid var(--tool-accent);
    background-color: var(--white);
    border-radius: 0.25rem;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 1rem auto;
    padding: 0.125rem 0.5rem;
}

.tool * {   
    margin: var(--tool-margin) auto;
    text-align: center;
}

footer {
    display: none;
    width: 100%;
    text-align: center;
    font-size: var(--footer-font-size);
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 1rem 0rem 0rem;
}

.user-input-field {
    width: 275px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInputArea,
select {
    border: 1px solid var(--tool-button-bg);
    background-color: var(--input-bg);
    width: 100px;
    padding: 0rem 0.125rem;
    text-align: center;
}

button {
    background-color: var(--tool-button-bg);
    color: var(--white);
    padding: 0.25rem 0.75rem;
    border-radius: 2rem;
}

#user-input button:hover {
    cursor: pointer;
}

#output{
    display: flex;
    height: fit-content;
    width: 100%;
    max-width: 350px;
    border: 2px solid black;
    text-align: center;
    margin: 2rem auto;
    font-weight: 600;
}

.runTime, .completionTime {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column {
    width: 50%;
}

.right-column {
    width: 50%;
}

#totalRuntime {
    border-top: 1px solid black;
}

#calcTotalRun {
    border-top: 1px solid black;
}
