:root{}

/* Basic CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/* Generic non-viewport styling */
main {
    padding: 1rem;
}

fieldset {
    padding: 0.5rem;
}

legend {
    font-size: 1.5rem;
    font-weight: 700;
}

input,
.display,
select,
fieldset {
    border: 1px solid black;
    border-radius: 0.125rem;
}

.user-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-input,
.display {
    margin: 0.25rem 0rem;
}

.display {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0rem 0.5rem;
    padding: 0rem 0.75rem;
}
/* Mobile Styling */

/* Desktop Styling - only if needed */