li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    list-style-type: disc;
}

button {
    width: 50px;
    height: 20px;
}

#btnDiv {
    border: 1px solid red;
}